.card__remove-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/remove-icon.svg);
  width: 18px;
  height: 19px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.card__remove-icon:hover {
  opacity: .6;
}
