.card__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 20px 22px 21px;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
