.card__like {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 3px;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.card__like:hover {
  opacity: .5;
}

.card__like:active {
  opacity: 1;
  background-image: url(../../../images/like-icon_active.svg);
}
