.popup__close-icon {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  }

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
