.profile__name-edit {
  display: block;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  background-image: url(../../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.profile__name-edit:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .profile__name-edit {
    width: 18px;
    height: 18px;
  }
}
